/* Base HTML Components */
.page-container {
    background-color: rgba(255, 255, 255, 0.952);
    margin: 7% 15% 7% 15%;
    border-radius: 20px;
    /* min-width: 210px; */
}

.lang-container {
    display: flex;
    margin-left: 85%;
}

.lang-item {
    padding: 5%;
    font-size: 1.8vw;
}

a {
    color: rgba(7, 7, 7, 0.377);
    text-decoration:none;
}

a:hover {
    color: rgba(0, 0, 0, 0.76);
    text-decoration:none;
}

/* Title */

.title-container {
    display: -webkit-inline-box;
}

.form-title {
    font-size: 4vw;
    font-family: 'Patua One', cursive;

}

.img-title {
    margin:auto;
    padding-left: 4%;
}

.about-text {
    text-align: justify;
    padding: 3% 12% 0% 12%;
    font-size: 1.4vw;
    font-family: 'Heebo', sans-serif;
}

.form-container {
    margin: 0% 10% 0% 10%;
}

.question-container {
    flex-wrap: wrap;
    justify-content: left;
    text-align: left;
    margin-top: 2%;
}

.labels-container {
    margin: 1% 2% 0%;
}

.labels-higher {
    font-size: 1.8vw;
    padding-top: 5%;
    font-family: 'Patua One', cursive;  
}

.labels-lower{
    font-size: 1.3vw;
    font-family: 'Patua One', cursive;
    color: dimgray;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff81;
    background-clip: padding-box;
    border: 1px solid #d6d6d600;
    border-radius: 0.25rem;
    box-shadow:0 0 2px #858585ad;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    background-color: #98d9f32d;
    box-shadow:0 0 3px #3a92b4;
}

.submit-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    margin: auto;
    margin-top: 5%;
    padding-bottom: 2%
}

.btn-info {
    color: #fff;
    background-color: #3a92b4;
    border-color: #3a92b4;
}

.error {
    color: rgba(255, 51, 0, 0.625);
    margin-top: 1px;
    font-size: 10px;
    margin-left: 5%;
}

.error-2 {
    color: rgba(255, 51, 0, 0.625);
    margin-top: 1px;
    font-size: 10px;
    justify-content: center;
    display: flex;
    padding-bottom: 5%;
}

.ul-custom {
    text-align: left;
    list-style-type: none;
    margin-bottom: 0;
}

input[type=checkbox] {
    accent-color: #3a92b4;
  }

.success-container {
    margin: auto;
    text-align: center;
    justify-content: center;
}


