<!DOCTYPE HTML>
<html lang="en-GB">
	<head>
		{%block title%}
		{%endblock%}
		<link rel = "icon" href = "static/images/python-logo.png" type = "image/x-icon" style="border-radius: 50%;">
		<!-- CSS only -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="static/css/styles.css">
		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Mandali&display=swap&family=Cabin&family=Noto+Sans+Hebrew&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Heebo&family=Work+Sans:wght@300&display=swap" rel="stylesheet">
		<style>
			body {
				background: url('static/images/python_classes_background_img_1.jpg') no-repeat;
				background-attachment: fixed;
				background-size: 100vw;
				height: 100vh;
			}
			@media only screen and (max-width: 1000px) {
			body {
				background: url('static/images/python_classes_background_img_1.jpg') no-repeat;
				background-attachment: fixed; 
				background-size: 100% 100%;
				}
			}
		</style>
		{%block script%}
		{%endblock%}
	</head>
	<body>
		<div class="page-container">
			<div class="lang-container">
				<div class="lang-item">
					<a href="pt">pt</a>
				</div>
				<div class="lang-item">
					<a href="/">en</a>
				</div>
				<div class="lang-item">
					<a href="es">es</a>
				</div>								
			</div>
			{%block success%}
			{%endblock%}
			{%block form%}
			{%endblock%}
		</div>
		<footer>
			{%if language == 'en'%}
			<p class="footer-custom"> If you want to know more about the builder behind this form, click <a href="https://www.macrodrigues.xyz" style="color:#3a92b4; font-weight:700">here</a></p>
			{%elif language == 'pt'%}
			<p class="footer-custom"> Se quiseres saber mais sobre a pessoa por detrás deste inquérito, clica <a href="https://www.macrodrigues.xyz" style="color:#3a92b4; font-weight:700">aqui</a></p>
			{%elif language == 'es'%}
			<p class="footer-custom"> Si quieres saber más sobre la persona que está detrás de esta encuesta, pincha <a href="https://www.macrodrigues.xyz" style="color:#3a92b4; font-weight:700">aquí</a></p>
			{%endif%}
		</footer>
	</body>
</html>