{% extends 'base_python.html' %}

{%block title%}
    <title>Aulas de Python</title>
{%endblock%}

{%block form%}
<div style="text-align:center;">
    <div class="title-container">
        <h1 class="form-title">Aulas de Python</h1>
        <div class= "img-title">
            <img src="static/images/python-logo.png" alt="" width="60vw" height="60vw" >
        </div>
    </div>
    <h4 class="about-text">
        Se estás aqui, significa que tens algum interesse em frequentar aulas de Python. Este inquérito permitirá conduzir um estudo de mercado sobre a possibilidade de se introduzir aulas de Python na região de <span style="font-weight: 700;">Portalegre, Portugal</span>, e em alguns lugares de Espanha, como <span style="font-weight: 700;">Valencia de Alcántara, San Vicente de Alcántara, La Codosera e Albuquerque</span>. Se não estiveres dentro desta região, não te preocupes, ainda podes preencher o formulário, pois podes participar remotamente. <span style="color:rgb(187, 37, 37); font-weight: 700;">Este inquérito é anónimo</span>, e não requer dados pessoais.
    </h4>
    <div class="form-container">
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('home_pt') }}" novalidate>
            {{ form.csrf_token }}
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.purpose_pt.label(class_='labels-higher') }} 
                    <br> 
                    {{ form.purpose_pt(class_= 'ul-custom') }}
                    <span class= 'error'>{{ form.purpose_pt.errors.0 }}</span>
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.purpose_other_pt.label(class_='labels-lower') }} 
                    <br> 
                    {{ form.purpose_other_pt(class_='form-control', style="width:50%;") }} 
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.hours_per_week_pt.label(class_='labels-higher') }} 
                    <br> 
                    {{ form.hours_per_week_pt(class_= 'ul-custom') }}
                    <span class= 'error'>{{ form.hours_per_week_pt.errors.0 }}</span>
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.site_remote_pt.label(class_='labels-higher') }} 
                    <br> 
                    {{ form.site_remote_pt(class_='ul-custom') }} 
                    <span class= 'error'>{{ form.site_remote_pt.errors.0 }}</span>
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.distance_onsite_pt.label(class_='labels-lower') }} 
                    <br> 
                    {{ form.distance_onsite_pt(class_='ul-custom') }}
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.subject_pt.label(class_='labels-higher') }} 
                    <br> 
                    {{ form.subject_pt(class_='ul-custom') }}
                    <span class= 'error'>{{ form.subject_pt.errors.0 }}</span>
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.subject_other_pt.label(class_='labels-lower') }} 
                    <br> 
                    {{ form.subject_other_pt(class_='form-control', style="width:50%;") }}
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.pay_pt.label(class_='labels-higher') }} 
                    <br> 
                    {{ form.pay_pt(class_='form-control', style="width:20%;") }}
                </p>
            </div> 
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.pay_how_much_pt.label(class_='labels-lower') }} 
                    <br> 
                    {{ form.pay_how_much_pt(class_='ul-custom') }}
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.pay_how_much_other_pt.label(class_='labels-lower') }} 
                    <br> 
                    {{ form.pay_how_much_other_pt(class_='form-control', style="width:50%;") }}
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.pay_premium_pt.label(class_='labels-lower') }} 
                    <br> 
                    {{ form.pay_premium_pt(class_='form-control', style="width:20%;") }}
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.when_pt.label(class_='labels-higher') }} 
                    <br> 
                    {{ form.when_pt(class_='ul-custom') }}
                    <span class= 'error'>{{ form.when_pt.errors.0 }}</span>
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.when_hours_pt.label(class_='labels-lower') }} 
                    <br> 
                    {{ form.when_hours_pt(class_='ul-custom') }}
                    <span class= 'error'>{{ form.when_hours_pt.errors.0 }}</span>
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.age_pt.label(class_='labels-higher') }} 
                    <br> 
                    {{ form.age_pt(class_='form-control', style="width:20%;") }}
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.location_pt.label(class_='labels-higher') }} 
                    <br> 
                    {{ form.location_pt(class_='form-control', style="width:50%;") }}
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.email_pt.label(class_='labels-higher') }} 
                    <br> 
                    {{ form.email_pt(class_='form-control', style="width:50%;") }}
                    <span class= 'error'>{{ form.email_pt.errors.0 }}</span>
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.observations_pt.label(class_='labels-higher') }} 
                    <br> 
                    {{ form.observations_pt(class_='form-control', style="width:50%;") }}
                </p>
            </div>                          
            <div class="submit-container" style="justify-content: center;">
                {{ form.submit_pt(class_= 'btn btn-info submit') }}
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <span class= 'error-2' style="justify-content: center;">{{ messages.0.1 }}</span>
            {% endif %}
        {% endwith %}                                                                                                                                                                                                                                
        </form>
    </div>
</div>
{%endblock%}