{% extends 'base_python.html' %}

{%block title%}
    <title>Clases de Python</title>
{%endblock%}

{%block form%}
<div style="text-align:center;">
    <div class="title-container">
        <h1 class="form-title">Clases de Python</h1>
        <div class= "img-title">
            <img src="static/images/python-logo.png" alt="" width="60vw" height="60vw" >
        </div>
    </div>
    <h4 class="about-text">
        Si estás aquí, significa que tienes algún interés en asistir a clases de Python. Esta encuesta permitirá realizar un estudio de mercado sobre las clases de Python en la región de <span style="font-weight: 700;">Portalegre, Portugal</span>, y en algunos lugares de España, como <span style="font-weight: 700;">Valencia de Alcántara, San Vicente de Alcántara, La Codosera y Albuquerque</span>. Si no te encuentras en esta región, no te preocupes, aún puedes completar el formulario, ya que también puedes participar de forma remota. <span style="color:rgb(187, 37, 37); font-weight: 700;"> Esta encuesta es anónima</span>,  y no se requiere información personal.
    </h4>
    <div class="form-container">
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('home_es') }}" novalidate>
            {{ form.csrf_token }}
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.purpose_es.label(class_='labels-higher') }} 
                    <br> 
                    {{ form.purpose_es(class_= 'ul-custom') }}
                    <span class= 'error'>{{ form.purpose_es.errors.0 }}</span>
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.purpose_other_es.label(class_='labels-lower') }} 
                    <br> 
                    {{ form.purpose_other_es(class_='form-control', style="width:50%;") }} 
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.hours_per_week_es.label(class_='labels-higher') }} 
                    <br> 
                    {{ form.hours_per_week_es(class_= 'ul-custom') }}
                    <span class= 'error'>{{ form.hours_per_week_es.errors.0 }}</span>
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.site_remote_es.label(class_='labels-higher') }} 
                    <br> 
                    {{ form.site_remote_es(class_='ul-custom') }}
                    <span class= 'error'>{{ form.site_remote_es.errors.0 }}</span>
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.distance_onsite_es.label(class_='labels-lower') }} 
                    <br> 
                    {{ form.distance_onsite_es(class_='ul-custom') }}
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.subject_es.label(class_='labels-higher') }} 
                    <br> 
                    {{ form.subject_es(class_='ul-custom') }}
                    <span class= 'error'>{{ form.subject_es.errors.0 }}</span>
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.subject_other_es.label(class_='labels-lower') }} 
                    <br> 
                    {{ form.subject_other_es(class_='form-control', style="width:50%;") }}
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.pay_es.label(class_='labels-higher') }} 
                    <br> 
                    {{ form.pay_es(class_='form-control', style="width:20%;") }}
                </p>
            </div> 
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.pay_how_much_es.label(class_='labels-lower') }} 
                    <br> 
                    {{ form.pay_how_much_es(class_='ul-custom') }}
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.pay_how_much_other_es.label(class_='labels-lower') }} 
                    <br> 
                    {{ form.pay_how_much_other_es(class_='form-control', style="width:50%;") }}
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.pay_premium_es.label(class_='labels-lower') }} 
                    <br> 
                    {{ form.pay_premium_es(class_='form-control', style="width:20%;") }}
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.when_es.label(class_='labels-higher') }} 
                    <br> 
                    {{ form.when_es(class_='ul-custom') }}
                    <span class= 'error'>{{ form.when_es.errors.0 }}</span>
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.when_hours_es.label(class_='labels-lower') }} 
                    <br> 
                    {{ form.when_hours_es(class_='ul-custom') }}
                    <span class= 'error'>{{ form.when_hours_es.errors.0 }}</span>
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.age_es.label(class_='labels-higher') }} 
                    <br> 
                    {{ form.age_es(class_='form-control', style="width:20%;") }}
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.location_es.label(class_='labels-higher') }} 
                    <br> 
                    {{ form.location_es(class_='form-control', style="width:50%;") }}
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.email_es.label(class_='labels-higher') }} 
                    <br> 
                    {{ form.email_es(class_='form-control', style="width:50%;") }}
                    <span class= 'error'>{{ form.email_es.errors.0 }}</span>
                </p>
            </div>
            <div class="question-container">
                <p class = "labels-container">
                    {{ form.observations_es.label(class_='labels-higher') }} 
                    <br> 
                    {{ form.observations_es(class_='form-control', style="width:50%;") }}
                </p>
            </div>
            <div class="question-container">
                {{recaptcha}}
            </div>                             
            <div class="submit-container" style="justify-content: center;">
                {{ form.submit_es(class_= 'btn btn-info submit') }}
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <span class= 'error-2' style="justify-content: center;">{{ messages.0.1 }}</span>
            {% endif %}
        {% endwith %}                                                                                                                                                                                                                                
        </form>
    </div>
</div>
{%endblock%}