{% extends 'base_python.html' %}

{%block success%}
<div class="success-container">
    <img src="static/images/success_logo.png" height=150 width=150 alt="" style="margin-top:10%; margin-bottom:5%">
    <p style="font-size: 25px; color: rgb(105, 105, 105); padding-bottom:5%; font-style:italic">
        <span style="font-weight: 700;">El envío se ha realizado correctamente!</span>
        <br>
        Gracias por tu participación, tus respuestas serán analizadas cuidadosamente.
    </p>
</div>
{%endblock%}